/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2016, 1:48:09 PM
    Author     : IT
*/
.menu .label {
    -fx-font-size: 14px;
    -fx-font-alignment: "center";
}

#grid {
    -fx-background-image: url("foodbankbg.png");
}

.label {
    -fx-font-size: 32px;
    -fx-font-alignment: "center";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.2), 0, 0, 0 , 1);
}